# ~/.gitignore 

/*

!README.rst
!/kinstall
!/pics
!/scripts
!/Makefile
!/*.bash_aliases
!/.bashrc_local
!/.config
!/.gitignore
!/.global.igitignore
!/.profile_local
!/.mozilla
!/.xmonad

/.private.bash_aliases
