# ~/.gitignore 

/*

# Files
!/README.md
!/.bash_aliases
!/.bashrc_local
!/.gitignore
!/.global.gitignore

# Dirs
!/kinstall
!/kinstall.*
!/Pictures
!/scripts
!/.config
!/.local
!/.profile_local
!/.xmonad

# Links
!/docs
!/downloads
!/pics
!/vids

