@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* Hide status bar in bottom-left which gets in the way of console sometimes. */
#statuspanel {
  display: none !important;
}

/* Hide nav (address) bar. */
#nav-bar {
  /* customize this value. */
  --navbar-margin: -45px;
  margin-top: var(--navbar-margin);
  margin-bottom: 0;
  z-index: -100;
  transition: all 0.3s ease !important;
  opacity: 0;
  background-color: rgba(0,0,0,0.8) !important;
}

/* Uncomment this to un-hide nav bar when tabs are hovered.
 * Good idea in theory but it obscures the bookmarks bar. */
/*#navigator-toolbox:focus-within > #nav-bar,
#navigator-toolbox:hover > #nav-bar {
  margin-top: 0;
  margin-bottom: var(--navbar-margin);
  z-index: 100;
  opacity: 1;
}*/

/* Uncomment this to hide navbar when unfocused (where C-l focuses it).
 * Good idea but I couldn't get it working. */
/*
#main-window:not([customizing]) #navigator-toolbox:not(:focus-within):not(:hover) {
  margin-top: -45px;
}
#navigator-toolbox {
  transition: 0.2s margin-top ease-out;
}*/
